@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b; /* slate-800 */
  --primary: #ea580c; /* orange-600 */
  --primary-foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
